@{
    ViewBag.Title = "Export Page";
}

<!DOCTYPE html>

<h2>Download a list of all active Users</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <a href="/home/exportactiveusers" class="btn-primary btn">Download file</a>
</div>
</body>
</html>
